#show {
    background: #F0EDE9;

    section {
        &#content {
            padding: 0 0 50px 0;

            .content-blok {
                position: relative;
                width: 95%;
                background: #fff;
                margin: -100px auto 0;
                z-index: 1;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
                padding: 40px 20px;
                font-size: 16px;
                border-radius: 3px;

                .title {
                    margin-bottom: 20px;
                }

                img {
                    max-width: 100%;
                    margin-bottom: 20px;
                }

                a {
                    color: $primary;
                    text-decoration: underline;

                    &.btn {
                        color: #fff;
                        margin-bottom: 15px;
                    }
                }

                p {
                    line-height: 30px;
                    word-wrap: break-word;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        line-height: 24px;
                        font-size: 14px;
                        padding: 5px 0;
                        width: 100%;
                        position: relative;
                        padding-left: 20px;

                        &::before {
                            content: "\e906";
                            font-family: icomoon;
                            color: $yellow;
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    &.restorations {
        #restoration {
            padding: 30px 0;
            height: 100%;

            .top {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 20px;

                h2 {
                    margin: 0;
                    font-weight: 600;
                }

            }

            .object {
                display: block;
                color: #2C3146;
                border-radius: 10px;
                overflow: hidden;
                text-decoration: none;
                box-shadow: 0px 1px 2px #00000029;


                .image-wrapper {
                    display: flex;
                    height: 215px;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }

                .details {
                    background: #FFFFFF;
                    display: flex;

                    i {
                        width: 90px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #F9C728;
                        font-size: 30px;
                    }

                    .text {
                        text-decoration: none;
                        padding: 15px 0 20px 10px;

                        p {
                            margin-bottom: 6px;
                            font-size: 20px;
                            font-weight: 600;
                        }

                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    &.restoration {
        #content {
            .content-text {
                p {
                    line-height: 30px;
                    word-wrap: break-word;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    #show {
        section {}
    }
}

@include media-breakpoint-up(lg) {
    #show {
        section {
            &#content {
                padding: 0 0 100px;
                .content-blok {
                    width: 80%;
                    background: #fff;
                    padding: 50px 60px;
                    font-size: 20px;
                    h2 {
                        font-size: 34px;
                    }
                    .sub-title {
                        font-size: 40px;
                        line-height: 44px;
                    }
                    p {
                        line-height: 30px;
                    }
                    ul {
                        li {
                            line-height: 30px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        &.restorations {
            #restoration {
                padding: 70px 0 90px 0;

                .top {
                    margin-bottom: 40px;
                }

                .object {
                    .image-wrapper {
                        height: unset;
                    }

                    img {
                        min-height: 250px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    #show {
        section {}
    }
}
